*{
    margin:0;
    padding:0;

}
.first_div img{
    width:200px;
    height:200px;
    border-radius: 50%;
   

}
.first_div{
    display: flex;
   column-gap: 40px;
   margin: 20px;
}
body{
    margin: 10px;
}
button{
    background-color:rgb(64, 93, 160);
    border-style: none;
    color:white;
    width:150px;
    height: 65px;
    border-radius: 10px;
    cursor:pointer;
    text-align: center;
    font-size: 30px;
    margin-left: 600px;
}
#name{
    font-weight: bold;
    
}
.image-info{
    margin-top: 20px;
    font-size: 35px;
}
.follow-button{
    margin-top: 30px;
    width:100px;
    height: 100px;

}
#sleep,#pop{
    color:grey;
}

